In [3]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

# Series

In [ ]:
sample_pandas_data = pd.Series([0,10,20,30,40,50,60,70,80,90])
print(sample_pandas_data)

In [ ]:
#印出資料值
輸入程式碼
#印出索引值
輸入程式碼

# Specify index in Series

In [ ]:
sample_pandas_index_data = pd.Series(
    [0, 10,20,30,40,50,60,70,80,90],
    #輸入自訂的文字index
    輸入程式碼
    
)

print(sample_pandas_index_data)

In [ ]:
print('資料值:', sample_pandas_index_data.values)
print('索引值:', sample_pandas_index_data.index)

# DataFrame

In [ ]:
attri_data1 = {'ID':['100','101','102','103','104'],
               'City':['Taipei','Taipei','Hsinchu','Tainan','Kaohsiung'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Sally','Hanks','Hannah','Kitty','Steve']}

attri_data_frame1 = DataFrame(attri_data1)

print(attri_data_frame1)

# Specify Index in DataFrame

In [ ]:
attri_data_frame_index1 = DataFrame(attri_data1,
                                    #輸入自訂的index
                                    輸入程式碼
                                   )
print(attri_data_frame_index1)

In [ ]:
attri_data_frame_index1

# Transpose

In [ ]:
#attri_data_frame1的行列交換
輸入程式碼

# Get One Column

In [ ]:
#取得Birth_year行
輸入程式碼

# Get Many Column

In [ ]:
#取得ID與Birth_year行
輸入程式碼

# Filter

In [ ]:
# attri_data_frame1中找出City為Taipei的資料
輸入程式碼

In [ ]:
attri_data_frame1['City'] == 'Taipei'

# Filter for Many Requiements

In [ ]:
#attri_data_frame1中找出City為台北和台南的資料
輸入程式碼

# Pratice

In [ ]:
#找出attri_data_frame1的Birth_year小於1990
輸入程式碼

# Drop Column

In [ ]:
#去掉Birth_year這一行
輸入程式碼

In [ ]:
attri_data1 = {'ID':['100','101','102','103','104'],
               'City':['Taipei','Taipei','Hsinchu','Tainan','Kaohsiung'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Sally','Hanks','Hannah','Kitty','Steve']}


attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)

attri_data_frame1.drop(['Birth_year'], axis = 1)
print(attri_data_frame1)

#使用assign，使得attri_data_frame1的資料中真正拿掉Birth_year行
輸入程式碼

# Combine DataFrame

In [ ]:
#準備資料
attri_data1 = {'ID':['100','101','102','103','104'],
               'City':['Taipei','Taipei','Hsinchu','Tainan','Kaohsiung'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Sally','Hanks','Hannah','Kitty','Steve']}
attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)


attri_data2 = {'ID':['100','101','102','105','107'],
               'Math':[50,43,33,76,98],
               'English':[90,30,20,50,30],
               'Sex':['M','F','F','M','M']}
attri_data_frame2 = DataFrame(attri_data2)
print(attri_data_frame2)

In [ ]:
#合併資料
輸入程式碼

# Statistics

In [ ]:
#將「Sex」的行設為基準來計算出數學成績的平均分數
輸入程式碼

# Practice

In [ ]:
#將「Sex」的行設為基準來計算出英文成績的最大值與最小值。
輸入程式碼

# Sort

In [ ]:
#準備資料
attri_data2 = {'ID':['100','101','102','103','104'],
               'City':['Taipei','Taipei','Hsinchu','Tainan','Kaohsiung'],
               'Birth_year':[1990,1989,1992,1997,1982],
               'Name':['Sally','Hanks','Hannah','Kitty','Steve']}
attri_data_frame_index2 = DataFrame(attri_data2,index=['e','b','a','d','c'])
attri_data_frame_index2

In [ ]:
#sort by index
輸入程式碼

In [ ]:
#sort by values
輸入程式碼

# Check nan

In [ ]:
#確認是否存在該值
attri_data_frame_index2.isin(['Taipei'])

In [ ]:
# 處理遺漏值
# 將Name設成nan
import numpy as np
attri_data_frame_index2['Name'] = np.nan

#判斷是否為nan
輸入程式碼

In [ ]:
#計算nan的總數
輸入程式碼